.c-btn {
  @apply px-6 py-2 bg-primaryDark rounded-md text-white;
  box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.18);
  transition: 0.3s all;

  &:hover {
    background-color: #fb7f65;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.18);
    color: #000;
  }
}

.c-btn--secondary {
  background-color: #fb7f65;

  &:hover {
    background-color: rgb(64 64 64);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.18);
    color: #000;
  }
}
